.my_nav_bar{
    position:sticky;
    top: 0;
    z-index: 999;
        
}
#marqueeStyle{
    background-color: coral;
    color:black;
}
h1{
    font-size: 40px;
    color: black;
    font-family: fantasy;
}
h2{
    font-size: 40px;
    color: black;
    font-family: fantasy;
    background-color: aqua;
}